doctype 5
html
  head
    meta(charset="utf-8")
    block head
      title IRC history
    link(rel='stylesheet',href='/css/bootstrap.min.css')
    link(rel='stylesheet',href='/css/datepicker.css')
    link(rel='stylesheet',href='/css/history.css')

    script(src='/js/jquery.js')
    script(src='/js/bootstrap-datepicker.js')
  body
    block content
