extends layout

block content
  h1 History of ##{channel}
  table.table.table-striped
    for message in messages
      tr
        td.name
          span= message.name
        td.message!= message.message
        td.date
          span= message.date