h1 {
  margin: 10px;
}

td.name {
  width:auto;
}
td.name span {
  white-space: nowrap;
  float: right;
  color: #aa7777;
}
td.message {
  width: 100%;
}
td.date span {
  white-space: nowrap;
  float: right;
  font-size:10px;
}
